<form method="post" action="{{ path('app_register') }}" class="register-page-form-wrapper">
    <h2 class="login-page-form-title">lub zarejestruj</h2>

    {% if (info_register ?? false) %}
        <h3 class="login-page-form-subtitle">
            {{ info_register }}
        </h3>
    {% endif %}

    <div class="login-page-input-wrapper {{ has_field_error(errors ?? [], 'nick') ? 'error' : null }}">
        <label for="register-nick" class="login-page-input-label">Nick</label>
        <input
                type="text"
                value="{{ register_nick ?? "" }}"
                name="nick"
                id="register-nick"
                class="login-page-input"
                required
        >
        {% if has_field_error(errors ?? [], 'nick') %}
            <span class="login-page-input-error">
                {{ get_field_error(errors, 'nick').message }}
            </span>
        {% endif %}
    </div>

    <div class="login-page-input-wrapper {{ has_field_error(errors ?? [], 'password') ? 'error' : null }}">
        <label for="register-password" class="login-page-input-label">Hasło</label>
        <input
                type="password"
                name="password"
                id="register-password"
                class="login-page-input"
                required
        >
        {% if has_field_error(errors ?? [], 'password') %}
            <span class="login-page-input-error">
                {{ get_field_error(errors, 'password').message }}
            </span>
        {% endif %}
    </div>

    <div class="login-page-input-wrapper {{ has_field_error(errors ?? [], 'password-repeat') ? 'error' : null }}">
        <label for="register-password-repeat" class="login-page-input-label">Powtórz hasło</label>
        <input
                type="password"
                name="password-repeat"
                id="register-password-repeat"
                class="login-page-input"
                required
        >
        {% if has_field_error(errors ?? [], 'password-repeat') %}
            <span class="login-page-input-error">
                {{ get_field_error(errors, 'password-repeat').message }}
            </span>
        {% endif %}
    </div>

    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

    <button class="submit-button" type="submit">
        Zarejestruj się
    </button>
</form>